body {
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    /* make main tag are visible */
    padding-top: 7rem; 
}


/* header, navbar */

#banner {
    border-color: #592059;
    background-color: #722872 !important;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: .8rem;  /* change navbar height */
}

#navbarlink {
    font-size: .82rem;
    font-weight: 700;
}

#navbarlink a {
    color: #aaa !important;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
}

#navbarlink a:hover {
    color: #eee !important;
    box-shadow: none;
}

#navbar a.active {
    color: #555 !important;
}

main {
    width: 100%;
    max-width: 68rem;
    margin: 0 2.5rem;
}

/* About Me section */
/* img.avatar{
    width:290px;
    height: 300px;
} */

